frontend-saas/node_modules
frontend-saas/.next
backend-saas/node_modules
backend-saas/dist
frontend-clinic/node_modules
frontend-clinic/.next
backend-clinic/node_modules
backend-clinic/dist
node_modules
certs
.git
.gitignore
.vscode
*.log
.env
.env.*
!.env.example
!*/.env.example
